body {
    background-color: #0d0d0d;
    color: #000000;
    font-family: Arial, sans-serif;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("files\images\header5.jpg");
}

.navbar-brand {
    color: #dad1df;
    font-weight: bold;
}

.navbar-nav .nav-link {
    color: #dad1df;
    margin-left: 15px;
    font-weight: bold;
}

.navbar-nav .nav-link:hover {
    color: #ffffff;
    text-decoration: underline;
}

.navbar-nav .nav-link.active {
    color: #ffffff;
}

/* header */

.hero-image {

  background-image: linear-gradient(rgba(75, 14, 56, 0.5), rgba(0, 0, 0, 0.5)), url("../files/images/heading5.png");

  height: 50%;

  background-position: center;
  background-repeat: repeat;
  background-size: 10%;
  position: relative;
}

.hero-text {
  background-color: rgba(0, 0, 0, 0.6); 
  color: white;
  padding: 100px;
  border-radius: 12px;
  text-align: center;
  width: fit-content;
  margin: auto;
}


.hero h1 {
    font-size: 42px;
    font-weight: bold;
}

.hero p {
    font-size: 18px;
    margin-bottom: 20px;
}


.caja {
    background-color: #dad1df;
    padding: 25px;
    border-radius: 8px;
    border: 1px solid #b8aebd;
}

.caja h1,
.caja h2 {
    color: #1f0b41;
}

.caja p {
    line-height: 1.6;
}

.titulo-pagina {
    color: #ffffff;
}


.tarjeta-proyecto {
    background-color: #d9d7da;
    border: 1px solid #b8aebd;
}

.card-title {
    color: #1f0b41;
    font-weight: bold;
}

/* BOTONES */
.btn-primary {
    background-color: #1f0b41;
    border-color: #1f0b41;
}

.btn-primary:hover {
    background-color: #1f0b41;
    border-color: #1f0b41   ;
}

.btn-secondary {
    background-color: #9c91a3;
    border-color: #9c91a3;
}

.btn-secondary:hover {
    background-color: #7c7085;
    border-color: #7c7085;
}


.form-control {
    border: 1px solid #9c91a3;
}


.footer {
    background-color: #9c91a3;
    color: #ffffff;
    text-align: center;
    padding: 15px;
    margin-top: 40px;
}

.footer p {
    margin: 0;
}


@media screen and (max-width: 768px) {
    .hero {
        min-height: 300px;
        padding: 20px;
    }

    .hero h1 {
        font-size: 30px;
    }

    .hero p {
        font-size: 16px;
    }

    .navbar-nav .nav-link {
        margin-left: 0;
        text-align: center;
    }

    .caja {
        margin-bottom: 20px;
    }
}